.navbar {
    background-color: #0044cc; /* Azul oscuro */
    color: white;
}

.navbar-brand {
    color: white !important;
    font-size: 1.5rem;
}

.nav-link {
    color: white !important;
    margin-right: 10px;
}

.nav-link:hover {
    color: #ffcc00 !important; /* Amarillo en hover */
}

.btn-danger {
    background-color: #ff4d4d;
    border-color: #ff4d4d;
}

.btn-danger:hover {
    background-color: #cc0000;
    border-color: #cc0000;
}


